<div class="flex flex-col gap-y-3">
  <h1 class="text-2xl font-bold text-center">{{ editMode ? "Edit Product" : "Add Product" }}</h1>
  <div class="w-full max-w-screen-sm mx-auto">
    <form class="w-full flex flex-col gap-2.5" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-0.5 w-full">
        <label for="name">Product Name</label>
        <input type="text" id="name" formControlName="name"
               class="border border-gray-300 focus:border-gray-500! rounded-md py-2 px-3 text-base">
        <span class="text-red-500"
              *ngIf="(formGroup.controls['name'].touched) && (this.formGroup.controls['name'].errors?.['required'])">
                                Name is required
                            </span>
      </div>
      <div class="flex flex-col gap-0.5 w-full">
        <label for="price">Price</label>
        <input type="text" id="price" formControlName="price"
               class="border border-gray-300 focus:border-gray-500 rounded-md py-2 px-3 text-base">
        <span class="text-red-500"
              *ngIf="(formGroup.controls['price'].touched) && (this.formGroup.controls['price'].errors?.['required'])">
                                Price is required
                            </span>
      </div>
      <div class="flex flex-col gap-0.5 w-full">
        <label for="desc">Description</label>
        <input type="text" id="desc" formControlName="description"
               class="border border-gray-300 focus:border-gray-500 rounded-md py-2 px-3 text-base">
      </div>
      <div class="flex flex-col gap-0.5 w-full">
        <label for="image">Image</label>
        <input type="text" id="image" formControlName="image"
               class="border border-gray-300 focus:border-gray-500 rounded-md py-2 px-3 text-base">
      </div>
      <div class="flex flex-col gap-0.5 w-full">
        <label for="category">Category</label>
        <input type="text" id="category" formControlName="category"
               class="border border-gray-300 focus:border-gray-500 rounded-md py-2 px-3 text-base">
      </div>
      <button type="submit"
              class="mt-5 w-full bg-green-500 rounded-lg px-3 py-2 text-white text-center">{{ editMode ? "Edit Product" : "Add Product" }}
      </button>
    </form>
  </div>
</div>

